* {
    margin: 0;
    padding: 0;
    display: border-box;
}

#hero-section {
    background-image: url(../images/hero-img.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#hero-heading {
    color: rgba(255, 255, 255, .9);
    text-shadow: 2px 2px 8px #000;
}

.is-not-active a {
    background-color: rgba(255, 255, 255, .3);
    color: rgba(0, 0, 0, .5); /* not working to turn links black? */
}

#form-container {
    padding: 50px;
    margin-bottom: 50px;
    border: 1px solid rgba(0, 0, 0, .5);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
    border-radius: 15px;
    width: 60%;
}

.field label {
    margin-top: 20px;
}