* {
    margin: 0;
    padding: 0;
    display: border-box;
}

.bg {
    background-image: url(../images/hero-img.jpeg);
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container-card {
    height: 80vh;
    width: 80vw;
    margin: 5% 10%;
    background-color: rgba(255, 255, 255);
    position: absolute;
    border-radius: 10px;
}

.nav-tab .container ul li a {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.tabs li.is-active a {
    color: hsl(141, 71%, 48%);
}

.is-not-active a {
    background-color: rgba(255, 255, 255, .3);
    color: rgba(0, 0, 0, .5); /* not working to turn links black? */
}

.field label {
    margin-top: 20px;
}